.contact{
    width: 100%;
    min-height: 70vh;
    padding: 0rem 2rem;
    display: flex;
    align-items: normal;
    justify-content: space-evenly;
}



.contact img{
    width: 20rem;
    aspect-ratio: 1 / 1;
    mask-image: linear-gradient(180deg, #fff 10%, transparent 90%);
}


.contactContainer{ 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.contentIvite{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.contentIvite h3{
    line-height: normal;
    font-size: xx-large;
    
}





.contactContainer p{
    color: var(--whiteTransparent);
    line-height: normal;
}


.cTextInvite{
    margin: 1rem 0rem;
}


.cButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



@media only screen and (max-width: 850px){
    .contactContainer{
        padding: 0rem;
        z-index: 2;
    }

    .contact{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact img{
        aspect-ratio: 1 / 2;
        position: absolute;
        bottom: 20px;
        opacity: .2;
        mix-blend-mode: difference;
    }


    .contentIvite h3{
        line-height: 1.6rem;
    }


    .contactContainer p {
        font-size: smaller;
    }


    .cButtons{
        margin-top: 2rem;
    }

    .cRedes p{
        margin-top: 2rem;
    }

    .redesData span{
        display: none;
    }
 
}


