.header{
    width: 100%;
    height: 100vh;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.headerContent{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}


.headerSection1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 5;
}


.hSText1{
    letter-spacing: .2rem;
    color: var(--whiteTransparent);
    font-size: small;
    line-height: normal;
    text-wrap: nowrap;
}


.hSTittle{
    font-weight: 800;
    font-size: xxx-large;
    line-height: normal;
    width: 35rem; 
}

.hSText2{
    font-weight: 600;
    line-height: normal;
    margin-top: 1rem;
    color: var(--whiteTransparent);
}


.hSButtons{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem .5rem;
}

.headerSection2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerSection2 img {
    width: 35rem;
    mask-image: linear-gradient(to left, black 60%, transparent);
}


.headerFinalText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    color: var(--color3);
}

.headerFinalText span{
    padding-left: .2rem;
    font-style: italic;
    font-weight: 800;
    color: var(--color3);
}


@media only screen and (max-width: 850px){
    .header{
        padding: 0rem 1rem;
        justify-content: space-evenly;
    }


    .headerContent{
        flex-direction: column-reverse;
    }

    .headerSection2{
        position: absolute;
        top: 0px;
    }

    .headerSection2 img{
        mask-image: linear-gradient(to top, transparent -35%, black 90%);
    }

    .hSTittle {
        text-wrap: pretty;
        font-size: xx-large;
        width: 100%;
        padding: 0rem .5rem;
    }


    .hSText2{
        font-size: small;
        text-wrap: balance;
        margin-top: 1rem;
        padding: 0rem .5rem;
    }


    .headerFinalText{
        flex-direction: column;
        text-wrap: balance;
        font-size: smaller;
        line-height: normal;
    }


    .hSButtons {
        padding: 1rem .5rem;
    }
}

