.presentation{
    width: 100%;    
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;    
}

.presentation img{
    max-width: 40rem;
    aspect-ratio: 1 / 1;
    mask-image: linear-gradient(180deg, #fff 41%, transparent 181%);
}


.pProfile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
}


.pTrader{
    position: absolute;
    top: -70px;
    left: -110px;    
}


.pTrader p{
    letter-spacing: .2rem;
    color: var(--color1);
    font-size: small;
    line-height: normal;
    font-weight: 800;
}


.pName{
    font-size: xxx-large;
    line-height: 3rem; 
}

.pDescription{
    margin-top: 2rem;
    color: var(--whiteTransparent);
    line-height: normal;
}


.pDescription span{
    font-weight: bolder;
    text-wrap: pretty;
    text-align: center;
}

.pRedes{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}


.pRedItem{
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
}


.pRedItem:hover{
    background-color:var(--color1);
}



@media only screen and (max-width: 850px){
    .presentation{
        position: relative;
        padding: 0rem;
    }


    .pProfile{
        position: absolute;
        padding: 1rem;
    }


    .pTrader{
        position: static;
    }


    .presentation img {
        mask-image: linear-gradient(180deg, #fff 81%, transparent 110%);
        position: absolute;
        left: 0px;
    }
}


