.cRedes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.redesData{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}


.redesData span{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: .5rem;
    font-weight: 600;
    color: var(--color1);
    transition: .3s ease-out;
}


.redesData span:hover{
    color: var(--white);
}


.cRedes p{
    color: var(--whiteTransparent);
    line-height: normal
}


.cRedesItems{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


@media only screen and (max-width: 850px){
    .redesData{
        
    }
}