.sectionDowloads{
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sDPart1 h2{
    line-height: normal;
    font-size: xx-large;
}

.sDPart1 p{
    color: var(--whiteTransparent);
    line-height: normal;
    margin-top: 1rem;
}


.sDPart2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    gap: 3rem;
}



@media only screen and (max-width: 850px){
    .sectionDowloads{
        flex-direction: column;
        gap: 2rem;
    }


    .sDPart1 h2 {
        text-align: left;
        text-wrap: balance;
        line-height: 1.6rem;
    }

    .sDPart1 p{
        font-size: smaller;
    }


    .sDPart2{
        flex-direction: column;
    }
}